
.todoAdd{
     margin-top: 100px;
     margin-left: 95px;   
     width: auto;
     height: 120px; 
}
.form-control{
     width: 90% !important;
     height: 40px !important;
     outline:none;
     border-radius: 10px ;
     padding: 10px !important;
     padding-left: 20px !important;
     font-size: larger !important;
}
.addBtn{
     float:right;
     margin-top: 10px;
     margin-right: 10%;
}

.horizontalHr{
    margin-top: 100px;
    /* border-width: 0px; */
     height:5px;
     background-color: rgb(51, 57, 57);
    width: 80%;
    margin:auto ;

     /* height:5px;border-width:0;color:gray;background-color:gray */
}